.right-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-container .heading{
    margin: 10px auto;
    margin-bottom: 20px;
}
.right-container .heading h4 b{
    margin: 10px auto;
    color: blueviolet;
    font-size: 30px;
}

.search-list{
    height: 470px;
    width: 75%;
    margin: 0 auto;
    padding: 17px 20px 12px 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}
.search-list ul a{
    text-decoration: none;
}
.search-list ul li{
    list-style: none;
}
.search-list ul{
    height: 450px;
    overflow-y: auto;
    padding-left: 0px;
}
.search-list ul::-webkit-scrollbar{
    width: 0px;
}
.search-list ul .s-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: royalblue; */
}
.search-list ul li{
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.30);
    margin-bottom: 7px;
    cursor: pointer;
}
.search-list ul li:last-child{
    border-bottom: 0px;
}
.search-list .s-row .song-info{
    display: flex;
    align-items: center;
}
.song-info .image-data{
    height: 80px;
    width: 80px;
    border-radius: 12px;
    overflow: hidden;
}
.song-info .image-data img{
    height: 100% ;
    width: 100%;
    object-fit: fill;
}
.song-info .song-detail{
    padding-left: 17px;
}
.song-info .song-detail span, .more .audio-duration{
    color: rgba(0, 0, 0, 0.75);
    font-size: 19px;
    text-align: center;
}
.song-info .song-detail .audio-duration.i{
    font-size: 50px;
}
.song-info .song-detail p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
}
.more{
    display: flex;
    justify-content: center;
    align-items: center;
}
.more i#favorite-tick{
    margin-left: 20px;
    color: tomato;
    font-size: 30px;
    margin-right: 25px;
    text-shadow: 0 0 10px rgba(255, 99, 71, 0.500)
}
.more i#favorite-tick:hover{
    text-shadow: 0 0 15px rgba(255, 99, 71, 0.800)
}
.more i{
    text-shadow: 0 0 3px black;
}
.more i:hover{
    text-shadow: 0 0 6px black;
}





@media only screen and (max-width: 768px){
    .right-container .search form{
        width: 90%;
    }   
    .right-container .search form input{
        width: 90%;
    }
    .search-heading{
        width: 90%;
    }
    .search-list{
        width: 90%;
    }
}