#display_song a{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none;
}
#display_song .col .card {
    overflow: hidden;
}
#display_song .col .card img{
    width: 100%;
    height: auto;
    /* object-fit: cover; */
} 