.right-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.wrapper{
    width: 380px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    padding: 25px 30px;
    background: white;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}
.wrapper i{
    cursor: pointer;
}
.top-bar ,
.progress-area .timer ,
.controls,
.music-list .header, .music-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-bar i{
    font-size: 30px;
    color: blueviolet;
}
.top-bar span{
    font-size: 18px;
    color: blueviolet;
}
.img-area{
    height: 256px;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}
.wrapper .img-area img{
    height: 100% ;
    width: 100%;
    object-fit: fill;
}
.song-details{
    text-align: center;
    color: blueviolet;
}
.song-details .name{
    font-size: 21px;
    margin: 15px 0 5px 0;
}
.song-details .artist{
    opacity: 0.8;
    margin: 5px 0 20px 0;
    font-size: 18px;
}

.progress-area{
    height: 6px;
    width: 100%;
    background: #e1e1e1;
    border-radius: 50px;
    cursor: pointer;
}
.progress-area .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    overflow: inherit;
    border-radius: inherit;
    background: linear-gradient(90deg, blueviolet 0%,  aqua 100%);
}
.progress-bar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    /* background: black; */
    border-radius: inherit;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    background: inherit;
    opacity: 0; 
    transition: opacity 0.2s ease;
}
.progress-area:hover .progress-bar::before{
    opacity: 1;
}
.progress-area .timer{
    margin-top: 2px;
}
.timer span{
    font-size: 13px;
    color: blueviolet;
}
.controls{
    margin: 40px 0 5px 0;
}
.controls i{
    font-size: 28px;
    user-select: none;
    background: linear-gradient(blueviolet 0%,  aqua 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.controls i:nth-child(2),
.controls i:nth-child(4){
    font-size: 43px;
}
.controls #prev{
    margin-right: -13px;
}
.controls #next{
    margin-left: -13px;
}
.controls .play-pause{
    height: 54px;
    width: 54px;
    background: linear-gradient(white 0%,  #dedada 100%);
    box-shadow: 0px 0px 6px blueviolet;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-pause::before{
    content: "";
    position: absolute;
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background: linear-gradient(blueviolet 0%,  aqua 100%);
}
.play-pause i{
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    border-radius: inherit;
    background: linear-gradient(blueviolet 0%,  aqua 100%);
    background-clip: text;
    background: inherit;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.music-list{
    left: 0;
    bottom: 0;
    margin: 0 0 0 20px;
    max-width: 380px;
    width: 100%;
    border-radius: 15px;
    padding: 15px 30px;
    background: white;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}
.music-list ul{
    padding-left: 0px;
}
.music-list .header .c-row{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #515C6F;
}
.header .c-row {
    cursor: default;
}
.header .c-row span{
    margin-left: 5px;
}
.header #close{
    font-size: 22px;
    color: #515C6F;
}
.music-list ul{
    margin: 25px 0;
    max-height: 450px;
    overflow-y: auto;
}
.music-list ul::-webkit-scrollbar{
    width: 0px;
}
.music-list ul li{
    cursor: pointer;
    list-style: none;
    padding-bottom: -10px;
    margin-bottom: 5px;
    color: #515C6F;
    border-bottom: 1px solid #dedada;
}
.music-list ul li:last-child{
    border-bottom: 0px;
}
.music-list ul li .c-row span{
    font-size: 17px;
}
ul li .c-row p{
    opacity: 0.9;
}
ul li .audio-duration{
    font-size: 16px;
}
ul li.playing{
    color: blueviolet;
    font-weight: bold;
    pointer-events: none;
}
.dropdown-toggle::after {
    content: none;
}
#navbarScrollingDropdown{
    padding: 0px;
}
#Download{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}



@media only screen and (max-width: 992px){
    .right-container{
        /* /* display: flex; */
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        /* height: auto !important; */
        height: 590px !important;
    }
    .wrapper{
        height: auto;
        overflow: visible;
    }
    .music-list{
        margin: 35px 0 0 0;
    }
}