*{
    margin: 0;
}
body{
    height: 100%;
    width: 100%;
    background-color: #e6e6e6;
    /* background-color: powderbl,ue; */
    /* background-color: rgb(5, 0, 48); */
    font-family: 'Poppins', sans-serif;
    /* overflow: auto; */

}
.nav-bar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    overflow: hidden;
    border-bottom: 1px solid steelblue;
}
.nav-bar .logo img{
    width: 120%;
}
.nav-bar .search {
    width: 100%;
    margin: 0 15px;
    margin-left: 5%;
    display: flex;
    background-color: white;
    border-radius: 50px;
    overflow: hidden;
    border:  1px solid #ddd;
}
.nav-bar .search:hover{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}
.nav-bar .search form{
    width: 100%;
    display: flex;

}
.nav-bar .search input{
    width: 99%;
    outline: none;
    height: 34px;
    border: none;
    color: #555;
    padding: 1px 10px;
    font-size: 22px;
}
.nav-bar .search input::placeholder{
    font-size: 18px;
    color: #999;
}
.nav-bar .search button{
    width: fit-content;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 50px;
    padding-left: 15px;
    font-size: 17px;
    color: #aaa;
}
.nav-bar .sign_up_in{
    width: 9.5rem;
    
}
.nav-bar .sign_up_in a{
    width:fit-content;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.nav-bar .sign_up_in a i{
    font-size: 25px;
    margin-right: 8px;
    color: blueviolet;
}

.nav-bar .sign_out{
    width: 10%;
}
.nav-bar .sign_out a{
    width: fit-content;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
}
.nav-bar .sign_out a i{
    font-size: 23px;
    margin: 0 10px;
    color: blueviolet;
}


/* sidebar */
.sidebarSmall{
    display: none;
}
.sidebar {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    position: relative;
    width: 200px;
    /* height: 540px; */
    height: 89vh;
    /* height: 100vh; */
    background-color: white;
    margin: 5px 5px;
    border-radius: 10px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content:  ; */
    overflow: hidden;
}
.sidebar ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content:  space-around;   
}
.sidebar ul li{
    /* border: 1px solid red; */
    width: 180px;
    padding: 12px 0px 12px 25px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
}
.sidebar ul li:hover{
    background-color: powderblue;
    
}
.sidebar ul .active{
    /* background-color: rgba(137, 43, 226, 0.400); */
    background-color: powderblue;
}
.sidebar ul li a {
    text-decoration: none;
    color: blueviolet;
}
.sidebar ul li a i{
    margin-right: 15px;
    /* color:  ; */
}

.main {
    display: flex;
    justify-content: space-between;
}

.main .right-container{
    /* background-color: cadetblue; */
    width: 100%;
    /* height: 565px; */
    height: 100vh;
    padding: 15px;
    overflow-y: auto;
    /* overflow-x: hidden; */
    border-radius: 15px;
    /* padding-bottom: 10px; */
}
.main .right-container img{
    height: 20em;
    width: 100%;
}

.col{
    height: 325px;
    width: 17rem; 
    /* margin-right: 20px; */
    /* background-color: red; */
}
.col .card:hover{
    background-color: powderblue;
}

/* modal */
.modal .modal-content .modal-header{
    background-color: powderblue;
}

.modal .modal-content .modal-header .modal-title{
    font-weight: 600;
}
.modal .modal-content .modal-body{
    font-weight: bold;
    height: 4rem;    
}

/* .modal .modal-content .modal-footer{
    height: 4.5rem;  
} */
.modal .modal-content .modal-footer button{
    background-color: white;
    color: black;
    border: 1px solid #555;
}
.modal .modal-content .modal-footer button:hover{
    background-color: #555;
    color: white;

}
.modal .modal-content .modal-footer a{
    background-color: powderblue;
    color: blueviolet;
    border: 1px solid blueviolet;
}
.modal .modal-content .modal-footer a:hover{
    background-color: blueviolet;
    color: powderblue;
    border: 1px solid powderblue;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  


/* @media screen (max-width 760px ){
    
} */

@media only screen and (max-width: 768px) {
    .nav-bar .search {
        width: 89vw;
        margin: 0 15px;
        margin-left: 5%;
        display: flex;
        background-color: white;
        border-radius: 50px;    
        overflow: hidden;
        border:  1px solid #ddd;
    }
    .nav-bar .sign_up_in{
        width: 12.5rem;
        
    }
    .nav-bar .sign_up_in a{
        width:fit-content;
        cursor: pointer;
        font-size: 18px;
        text-decoration: none;
        color: black;
    }
    .nav-bar .sign_up_in a i{
        font-size: 25px;
        margin-right: 8px;
        color: blueviolet;
    }
    
    .nav-bar .sign_out{
        width: 5%;
    }
    .nav-bar .sign_out a{
        width: fit-content;
        cursor: pointer;
        font-size: 16px;
        text-decoration: none;
    }
    .nav-bar .sign_out a i{
        font-size: 19px;
        margin: 0 10px;
        color: blueviolet;
    }

    .sidebar{
        display: none;
    }
    .sidebarSmall {
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        position: relative;
        width: 70px;
        /* height: 540px; */
        height: 87vh;
        background-color: white;
        margin: 10px 4px;
        border-radius: 10px;
        display: flex;
        /* /* flex-direction: column; */
        justify-content:  space-around; 
    }
    .sidebarSmall ul{
        list-style-type: none;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content:  space-around; 
        align-items: center;  
    }
    .sidebarSmall ul li{
        /* border: 1px solid red; */
        width: 44px;
        height: 44px;
        padding: 0.37rem 0rem 0rem 0rem;
        border-radius: 50%;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
    }
    .sidebarSmall ul li:hover{
        background-color: powderblue;
        
    }
    .sidebarSmall ul .active{
        /* background-color: rgba(137, 43, 226, 0.400); */
        background-color: powderblue;
    }
    .sidebarSmall ul li a {
        text-decoration: none;
        color: blueviolet;
        padding: 0px;
        margin: 0px;
    }
  }